<mat-radio-group [(ngModel)]="categoria" aria-label="Select an option" class="margin">
  <mat-radio-button value="1">TODOS</mat-radio-button>
  <mat-radio-button value="GTX">GTX</mat-radio-button>
  <mat-radio-button value="RTX">RTX</mat-radio-button>
</mat-radio-group>
<a mat-raised-button (click)="seleccionar(categoria)" class="margin" routerLink="/products" routerLinkActive="active">
  <mat-icon>search</mat-icon>
  Buscar
</a>
<a mat-raised-button matBadge="{{count}}" matBadgeColor="warn" class="margin" (click)="AbrirDetalle()">
  <mat-icon>shopping_cart</mat-icon>
  Carrito
</a>
<div class="product-grid">
  <app-product *ngFor="let products of productos" (productoClicked)="clicked($event)" [product]="products">
  </app-product>
</div>


<app-detalle-carrito *ngIf="abrirCarrito" (cerrarDetalle)="CerrarDetalle()"></app-detalle-carrito>